a:link {
            text-decoration: none;
        }

        .fontti1 {
            font-family: monospace;
            font-size: 120%;
            -webkit-animation: color-change1 10s linear infinite;
            -moz-animation: color-change1 10s linear infinite;
            -o-animation: color-change1 10s linear infinite;
            -ms-animation: color-change1 10s linear infinite;
            animation: color-change1 10s linear infinite;
        }
        .fontti2 {
            font-family: monospace;
            font-size: 120%;
            -webkit-animation: color-change2 10s linear infinite;
            -moz-animation: color-change2 10s linear infinite;
            -o-animation: color-change2 10s linear infinite;
            -ms-animation: color-change2 10s linear infinite;
            animation: color-change2 10s linear infinite;
        }
        .fontti3 {
            font-family: monospace;
            font-size: 120%;
            -webkit-animation: color-change3 10s linear infinite;
            -moz-animation: color-change3 10s linear infinite;
            -o-animation: color-change3 10s linear infinite;
            -ms-animation: color-change3 10s linear infinite;
            animation: color-change3 10s linear infinite;
        }
        .fontti4 {
            font-family: monospace;
            font-size: 120%;
            -webkit-animation: color-change4 10s linear infinite;
            -moz-animation: color-change4 10s linear infinite;
            -o-animation: color-change4 10s linear infinite;
            -ms-animation: color-change4 10s linear infinite;
            animation: color-change4 10s linear infinite;
        }
        .fontti5 {
            font-family: monospace;
            font-size: 120%;
            -webkit-animation: color-change5 10s linear infinite;
            -moz-animation: color-change5 10s linear infinite;
            -o-animation: color-change5 10s linear infinite;
            -ms-animation: color-change5 10s linear infinite;
            animation: color-change5 10s linear infinite;
        }
        .fontti6 {
            font-family: monospace;
            font-size: 120%;
            -webkit-animation: color-change6 10s linear infinite;
            -moz-animation: color-change6 10s linear infinite;
            -o-animation: color-change6 10s linear infinite;
            -ms-animation: color-change6 10s linear infinite;
            animation: color-change6 10s linear infinite;
        }
        #grid {
            display: -ms-grid;
            display: grid;
            -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            height: 80vh;
            width: 100%;
            margin-block: 10vh;
        }

        @-webkit-keyframes color-change1 {
            0% {
                color:rgb(75, 0, 130);
            }

            12.5% {
                color: rgb(0, 0, 255);
            }
            25%{
                color: rgb(0, 255, 255)
            }
            37.5% {
                color: rgb(0, 255, 0);
            }
            50% {
                color: rgb(255, 255, 0);
            }
            62.5% {
                color: rgb(255, 127, 0);
            }
            75% {
                color: rgb(255, 0 , 0);
            }
            87.5% {
                color: rgb(148, 0, 211);
            }
            100% {
                color:rgb(75, 0, 130)
            }
        }

        @-moz-keyframes color-change1 {
            0% {
                color:rgb(75, 0, 130);
            }

            12.5% {
                color: rgb(0, 0, 255);
            }
            25%{
                color: rgb(0, 255, 255)
            }
            37.5% {
                color: rgb(0, 255, 0);
            }
            50% {
                color: rgb(255, 255, 0);
            }
            62.5% {
                color: rgb(255, 127, 0);
            }
            75% {
                color: rgb(255, 0 , 0);
            }
            87.5% {
                color: rgb(148, 0, 211);
            }
            100% {
                color:rgb(75, 0, 130)
            }
        }

        @-ms-keyframes color-change1 {
            0% {
                color:rgb(75, 0, 130);
            }

            12.5% {
                color: rgb(0, 0, 255);
            }
            25%{
                color: rgb(0, 255, 255)
            }
            37.5% {
                color: rgb(0, 255, 0);
            }
            50% {
                color: rgb(255, 255, 0);
            }
            62.5% {
                color: rgb(255, 127, 0);
            }
            75% {
                color: rgb(255, 0 , 0);
            }
            87.5% {
                color: rgb(148, 0, 211);
            }
            100% {
                color:rgb(75, 0, 130)
            }
        }

        @-o-keyframes color-change1 {
            0% {
                color:rgb(75, 0, 130);
            }

            12.5% {
                color: rgb(0, 0, 255);
            }
            25%{
                color: rgb(0, 255, 255)
            }
            37.5% {
                color: rgb(0, 255, 0);
            }
            50% {
                color: rgb(255, 255, 0);
            }
            62.5% {
                color: rgb(255, 127, 0);
            }
            75% {
                color: rgb(255, 0 , 0);
            }
            87.5% {
                color: rgb(148, 0, 211);
            }
            100% {
                color:rgb(75, 0, 130)
            }
        }

        @keyframes color-change1 {
            0% {
                color:rgb(75, 0, 130);
            }

            12.5% {
                color: rgb(0, 0, 255);
            }
            25%{
                color: rgb(0, 255, 255)
            }
            37.5% {
                color: rgb(0, 255, 0);
            }
            50% {
                color: rgb(255, 255, 0);
            }
            62.5% {
                color: rgb(255, 127, 0);
            }
            75% {
                color: rgb(255, 0 , 0);
            }
            87.5% {
                color: rgb(148, 0, 211);
            }
            100% {
                color:rgb(75, 0, 130)
            }
        }
        @-webkit-keyframes color-change2 {
            100% {
                color:rgb(0, 0, 255);
            }
            0% {
                color: rgb(0, 0, 255);
            }
            12.5%{
                color: rgb(0, 255, 255)
            }
            25% {
                color: rgb(0, 255, 0);
            }
            37.5% {
                color: rgb(255, 255, 0);
            }
            50% {
                color: rgb(255, 127, 0);
            }
            62.5% {
                color: rgb(255, 0 , 0);
            }
            75% {
                color: rgb(148, 0, 211);
            }
            87.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-moz-keyframes color-change2 {
            100% {
                color:rgb(0, 0, 255);
            }
            0% {
                color: rgb(0, 0, 255);
            }
            12.5%{
                color: rgb(0, 255, 255)
            }
            25% {
                color: rgb(0, 255, 0);
            }
            37.5% {
                color: rgb(255, 255, 0);
            }
            50% {
                color: rgb(255, 127, 0);
            }
            62.5% {
                color: rgb(255, 0 , 0);
            }
            75% {
                color: rgb(148, 0, 211);
            }
            87.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-ms-keyframes color-change2 {
            100% {
                color:rgb(0, 0, 255);
            }
            0% {
                color: rgb(0, 0, 255);
            }
            12.5%{
                color: rgb(0, 255, 255)
            }
            25% {
                color: rgb(0, 255, 0);
            }
            37.5% {
                color: rgb(255, 255, 0);
            }
            50% {
                color: rgb(255, 127, 0);
            }
            62.5% {
                color: rgb(255, 0 , 0);
            }
            75% {
                color: rgb(148, 0, 211);
            }
            87.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-o-keyframes color-change2 {
            100% {
                color:rgb(0, 0, 255);
            }
            0% {
                color: rgb(0, 0, 255);
            }
            12.5%{
                color: rgb(0, 255, 255)
            }
            25% {
                color: rgb(0, 255, 0);
            }
            37.5% {
                color: rgb(255, 255, 0);
            }
            50% {
                color: rgb(255, 127, 0);
            }
            62.5% {
                color: rgb(255, 0 , 0);
            }
            75% {
                color: rgb(148, 0, 211);
            }
            87.5% {
                color:rgb(75, 0, 130)
            }
        }

        @keyframes color-change2 {
            100% {
                color:rgb(0, 0, 255);
            }
            0% {
                color: rgb(0, 0, 255);
            }
            12.5%{
                color: rgb(0, 255, 255)
            }
            25% {
                color: rgb(0, 255, 0);
            }
            37.5% {
                color: rgb(255, 255, 0);
            }
            50% {
                color: rgb(255, 127, 0);
            }
            62.5% {
                color: rgb(255, 0 , 0);
            }
            75% {
                color: rgb(148, 0, 211);
            }
            87.5% {
                color:rgb(75, 0, 130)
            }
        }
        @-webkit-keyframes color-change3 {
            100% {
                color:rgb(0, 255, 255);
            }
            87.5% {
                color: rgb(0, 0, 255);
            }
            0%{
                color: rgb(0, 255, 255)
            }
            12.5% {
                color: rgb(0, 255, 0);
            }
            25% {
                color: rgb(255, 255, 0);
            }
            37.5% {
                color: rgb(255, 127, 0);
            }
            50% {
                color: rgb(255, 0 , 0);
            }
            62.5% {
                color: rgb(148, 0, 211);
            }
            75% {
                color:rgb(75, 0, 130)
            }
        }

        @-moz-keyframes color-change3 {
            100% {
                color:rgb(0, 255, 255);
            }
            87.5% {
                color: rgb(0, 0, 255);
            }
            0%{
                color: rgb(0, 255, 255)
            }
            12.5% {
                color: rgb(0, 255, 0);
            }
            25% {
                color: rgb(255, 255, 0);
            }
            37.5% {
                color: rgb(255, 127, 0);
            }
            50% {
                color: rgb(255, 0 , 0);
            }
            62.5% {
                color: rgb(148, 0, 211);
            }
            75% {
                color:rgb(75, 0, 130)
            }
        }

        @-ms-keyframes color-change3 {
            100% {
                color:rgb(0, 255, 255);
            }
            87.5% {
                color: rgb(0, 0, 255);
            }
            0%{
                color: rgb(0, 255, 255)
            }
            12.5% {
                color: rgb(0, 255, 0);
            }
            25% {
                color: rgb(255, 255, 0);
            }
            37.5% {
                color: rgb(255, 127, 0);
            }
            50% {
                color: rgb(255, 0 , 0);
            }
            62.5% {
                color: rgb(148, 0, 211);
            }
            75% {
                color:rgb(75, 0, 130)
            }
        }

        @-o-keyframes color-change3 {
            100% {
                color:rgb(0, 255, 255);
            }
            87.5% {
                color: rgb(0, 0, 255);
            }
            0%{
                color: rgb(0, 255, 255)
            }
            12.5% {
                color: rgb(0, 255, 0);
            }
            25% {
                color: rgb(255, 255, 0);
            }
            37.5% {
                color: rgb(255, 127, 0);
            }
            50% {
                color: rgb(255, 0 , 0);
            }
            62.5% {
                color: rgb(148, 0, 211);
            }
            75% {
                color:rgb(75, 0, 130)
            }
        }

        @keyframes color-change3 {
            100% {
                color:rgb(0, 255, 255);
            }
            87.5% {
                color: rgb(0, 0, 255);
            }
            0%{
                color: rgb(0, 255, 255)
            }
            12.5% {
                color: rgb(0, 255, 0);
            }
            25% {
                color: rgb(255, 255, 0);
            }
            37.5% {
                color: rgb(255, 127, 0);
            }
            50% {
                color: rgb(255, 0 , 0);
            }
            62.5% {
                color: rgb(148, 0, 211);
            }
            75% {
                color:rgb(75, 0, 130)
            }
        }
        @-webkit-keyframes color-change4 {
            75% {
                color:rgb(0, 0, 255);
            }
            87.5% {
                color: rgb(0, 255, 255);
            }
            100%{
                color: rgb(0, 255, 0)
            }
            0% {
                color: rgb(0, 255, 0);
            }
            12.5% {
                color: rgb(255, 255, 0);
            }
            25% {
                color: rgb(255, 127, 0);
            }
            37.5% {
                color: rgb(255, 0 , 0);
            }
            50% {
                color: rgb(148, 0, 211);
            }
            62.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-moz-keyframes color-change4 {
            75% {
                color:rgb(0, 0, 255);
            }
            87.5% {
                color: rgb(0, 255, 255);
            }
            100%{
                color: rgb(0, 255, 0)
            }
            0% {
                color: rgb(0, 255, 0);
            }
            12.5% {
                color: rgb(255, 255, 0);
            }
            25% {
                color: rgb(255, 127, 0);
            }
            37.5% {
                color: rgb(255, 0 , 0);
            }
            50% {
                color: rgb(148, 0, 211);
            }
            62.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-ms-keyframes color-change4 {
            75% {
                color:rgb(0, 0, 255);
            }
            87.5% {
                color: rgb(0, 255, 255);
            }
            100%{
                color: rgb(0, 255, 0)
            }
            0% {
                color: rgb(0, 255, 0);
            }
            12.5% {
                color: rgb(255, 255, 0);
            }
            25% {
                color: rgb(255, 127, 0);
            }
            37.5% {
                color: rgb(255, 0 , 0);
            }
            50% {
                color: rgb(148, 0, 211);
            }
            62.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-o-keyframes color-change4 {
            75% {
                color:rgb(0, 0, 255);
            }
            87.5% {
                color: rgb(0, 255, 255);
            }
            100%{
                color: rgb(0, 255, 0)
            }
            0% {
                color: rgb(0, 255, 0);
            }
            12.5% {
                color: rgb(255, 255, 0);
            }
            25% {
                color: rgb(255, 127, 0);
            }
            37.5% {
                color: rgb(255, 0 , 0);
            }
            50% {
                color: rgb(148, 0, 211);
            }
            62.5% {
                color:rgb(75, 0, 130)
            }
        }

        @keyframes color-change4 {
            75% {
                color:rgb(0, 0, 255);
            }
            87.5% {
                color: rgb(0, 255, 255);
            }
            100%{
                color: rgb(0, 255, 0)
            }
            0% {
                color: rgb(0, 255, 0);
            }
            12.5% {
                color: rgb(255, 255, 0);
            }
            25% {
                color: rgb(255, 127, 0);
            }
            37.5% {
                color: rgb(255, 0 , 0);
            }
            50% {
                color: rgb(148, 0, 211);
            }
            62.5% {
                color:rgb(75, 0, 130)
            }
        }
        @-webkit-keyframes color-change5 {
            62.5% {
                color: rgb(0, 0, 255);
            }
            75%{
                color: rgb(0, 255, 255)
            }
            87.5% {
                color: rgb(0, 255, 0);
            }
            100% {
                color:rgb(255, 255, 0);
            }
            0% {
                color: rgb(255, 255, 0);
            }
            12.5% {
                color: rgb(255, 127, 0);
            }
            25% {
                color: rgb(255, 0 , 0);
            }
            37.5% {
                color: rgb(148, 0, 211);
            }
            50% {
                color:rgb(75, 0, 130)
            }
        }

        @-moz-keyframes color-change5 {
            62.5% {
                color: rgb(0, 0, 255);
            }
            75%{
                color: rgb(0, 255, 255)
            }
            87.5% {
                color: rgb(0, 255, 0);
            }
            100% {
                color:rgb(255, 255, 0);
            }
            0% {
                color: rgb(255, 255, 0);
            }
            12.5% {
                color: rgb(255, 127, 0);
            }
            25% {
                color: rgb(255, 0 , 0);
            }
            37.5% {
                color: rgb(148, 0, 211);
            }
            50% {
                color:rgb(75, 0, 130)
            }
        }

        @-ms-keyframes color-change5 {
            62.5% {
                color: rgb(0, 0, 255);
            }
            75%{
                color: rgb(0, 255, 255)
            }
            87.5% {
                color: rgb(0, 255, 0);
            }
            100% {
                color:rgb(255, 255, 0);
            }
            0% {
                color: rgb(255, 255, 0);
            }
            12.5% {
                color: rgb(255, 127, 0);
            }
            25% {
                color: rgb(255, 0 , 0);
            }
            37.5% {
                color: rgb(148, 0, 211);
            }
            50% {
                color:rgb(75, 0, 130)
            }
        }

        @-o-keyframes color-change5 {
            62.5% {
                color: rgb(0, 0, 255);
            }
            75%{
                color: rgb(0, 255, 255)
            }
            87.5% {
                color: rgb(0, 255, 0);
            }
            100% {
                color:rgb(255, 255, 0);
            }
            0% {
                color: rgb(255, 255, 0);
            }
            12.5% {
                color: rgb(255, 127, 0);
            }
            25% {
                color: rgb(255, 0 , 0);
            }
            37.5% {
                color: rgb(148, 0, 211);
            }
            50% {
                color:rgb(75, 0, 130)
            }
        }

        @keyframes color-change5 {
            62.5% {
                color: rgb(0, 0, 255);
            }
            75%{
                color: rgb(0, 255, 255)
            }
            87.5% {
                color: rgb(0, 255, 0);
            }
            100% {
                color:rgb(255, 255, 0);
            }
            0% {
                color: rgb(255, 255, 0);
            }
            12.5% {
                color: rgb(255, 127, 0);
            }
            25% {
                color: rgb(255, 0 , 0);
            }
            37.5% {
                color: rgb(148, 0, 211);
            }
            50% {
                color:rgb(75, 0, 130)
            }
        }
        @-webkit-keyframes color-change6 {            
            50% {
                color: rgb(0, 0, 255);
            }
            62.5%{
                color: rgb(0, 255, 255)
            }
            75% {
                color: rgb(0, 255, 0);
            }
            87.5% {
                color: rgb(255, 255, 0);
            }
            100% {
                color:rgb(255, 127, 0);
            }
            0% {
                color: rgb(255, 127, 0);
            }
            12.5% {
                color: rgb(255, 0 , 0);
            }
            25% {
                color: rgb(148, 0, 211);
            }
            37.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-moz-keyframes color-change6 {
            50% {
                color: rgb(0, 0, 255);
            }
            62.5%{
                color: rgb(0, 255, 255)
            }
            75% {
                color: rgb(0, 255, 0);
            }
            87.5% {
                color: rgb(255, 255, 0);
            }
            100% {
                color:rgb(255, 127, 0);
            }
            0% {
                color: rgb(255, 127, 0);
            }
            12.5% {
                color: rgb(255, 0 , 0);
            }
            25% {
                color: rgb(148, 0, 211);
            }
            37.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-ms-keyframes color-change6 {
            50% {
                color: rgb(0, 0, 255);
            }
            62.5%{
                color: rgb(0, 255, 255)
            }
            75% {
                color: rgb(0, 255, 0);
            }
            87.5% {
                color: rgb(255, 255, 0);
            }
            100% {
                color:rgb(255, 127, 0);
            }
            0% {
                color: rgb(255, 127, 0);
            }
            12.5% {
                color: rgb(255, 0 , 0);
            }
            25% {
                color: rgb(148, 0, 211);
            }
            37.5% {
                color:rgb(75, 0, 130)
            }
        }

        @-o-keyframes color-change6 {
            50% {
                color: rgb(0, 0, 255);
            }
            62.5%{
                color: rgb(0, 255, 255)
            }
            75% {
                color: rgb(0, 255, 0);
            }
            87.5% {
                color: rgb(255, 255, 0);
            }
            100% {
                color:rgb(255, 127, 0);
            }
            0% {
                color: rgb(255, 127, 0);
            }
            12.5% {
                color: rgb(255, 0 , 0);
            }
            25% {
                color: rgb(148, 0, 211);
            }
            37.5% {
                color:rgb(75, 0, 130)
            }
        }

        @keyframes color-change6 {
            50% {
                color: rgb(0, 0, 255);
            }
            62.5%{
                color: rgb(0, 255, 255)
            }
            75% {
                color: rgb(0, 255, 0);
            }
            87.5% {
                color: rgb(255, 255, 0);
            }
            100% {
                color:rgb(255, 127, 0);
            }
            0% {
                color: rgb(255, 127, 0);
            }
            12.5% {
                color: rgb(255, 0 , 0);
            }
            25% {
                color: rgb(148, 0, 211);
            }
            37.5% {
                color:rgb(75, 0, 130)
            }
        }